
.Box{
  width: 100%;
  height: 100%;
  text-align: center;
  background-position: center;
}

.Day_Time{
  width: 100%;
  height: 100vh;
  color: black;
  background-image: url("DayTime.jpg");
    background-size: cover;
    background-position: center;
}

.Night_Time{
  width: 100%;
  height: 100vh;
  color: white;
  background-image: url("Night_Time.jpg");
  background-size: cover;
  background-position: center;
}


